body{
   display: flex;
   
   justify-content: space-around;
 
   background-color: #0B2434;
   
    
    
}
main{
   
    padding: 50px 10px;
    background-color: white;
    display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
    width: 50vw;
    height: 60vh;
   
}
.die-container{
    display: grid;
    grid-template: auto auto / repeat(5,1fr);
    gap: 25px;
}
.die-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
button{
   padding: 20px 35px;
   color: white;
   background-color: #5035FF;
   border: none;
   border-radius: 6px;
   font-weight: 600;
   font-size: 20px;
   cursor: pointer;
   
}
.instructions{
    text-align: center;
    margin-top: 0;
    font-weight: 1000;
    font-family: 'Inter', sans-serif;
}
.title{
    font-size: 40px;
    margin: 0;
}
@media only screen and (max-width:650px){
    .die-container{
        grid-template: auto auto /repeat(3,1fr
        )
        
    }
    .die-box{
        width: 30px;
        height: 30px;
        font-weight: 300;
   font-size: 10px;
    }
    button{
        margin-top: 10px;
        padding: 10px 25px;
        font-weight: 400;
    }
    main{
        width: 40vh;
        height: 60vh;
        margin-top: 15%;
    }
}